@tailwind base;
@tailwind components;
@tailwind utilities;

.x-icon {
  width: 25px;
}

.profile-image{
 display: inline-block; 
}

.profile-details{
 display: inline-block; 
}

.datetime {
  color: rgb(83, 100, 113);
}

.datetime:hover {
  @apply underline;
}

svg {
  @apply inline-block max-h-4 mr-2 rounded-full;
}

.likes svg {
  fill: rgb(249, 24, 128);
}

.likes:hover {
  @apply underline;
  color: rgb(249, 24, 128);
}

.likes:hover svg {
  background: rgba(249, 24, 128, 0.1);
  outline: 5px solid;
  outline-color: rgba(249, 24, 128, 0.1);
}

.comments svg {
  fill: rgb(29, 155, 240);
}

.comments:hover {
  @apply underline;
  color: rgb(29, 155, 240);
}

.comments:hover svg {
  background: rgba(29, 155, 240, 0.1);
  outline: 5px solid;
  outline-color: rgba(29, 155, 240, 0.1);
}

.link svg {
  fill: rgb(75 85 99 / var(--tw-text-opacity));
}
.link:hover {
  color: rgb(0, 186, 124);
  @apply underline;
}

.link:hover svg {
  background: rgba(0, 186, 124, 0.1);
  outline: 5px solid;
  outline-color: rgba(0, 186, 124, 0.1);
  fill:rgb(0, 186, 124)
}

.x-icon svg {
  max-height: 2rem;
  border-radius: 0;
  margin-right: 0;
}

.post-text{
  white-space: pre-line;
}

.tooltip svg {
  max-height: 1.2rem; 
  /* border-radius: 0; */
  margin-right: 0;
  fill: rgb(83, 100, 113);
}

.tooltip:hover svg {
  background: rgba(29, 155, 240, 0.1);
  outline: 5px solid;
  outline-color: rgba(29, 155, 240, 0.1);
}